/*
==========================================
    Google Fonts
==========================================
*/
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;700;800&family=Open+Sans:wght@300;400;600;800&display=swap');
/*
==========================================
    Reset Css
==========================================
*/
body{
    font-family: 'Baloo 2', cursive;
}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
p{
    font-family: 'Open Sans', sans-serif !important;
}

/*
==========================================
    Menu Css
==========================================
*/
.nav-item a {
	color: #3f475c;
	font-family: 'Open Sans', sans-serif !important;
    font-weight: 400;
}
.navbar-brand img {
	max-width: 13%;
}
.navbar.navbar-expand-md {
	margin-top: 25px;
}
.nav-link.menu-btn {
	background: #77C475;
	color: #fff;
	font-weight: 600;
	border-radius: 4px;
	margin: 0px -1px;
}
/*
==========================================
    Hero area Css
==========================================
*/
.hero-area{
    background-image: url(../img/hero-bg.png);
    background-size: cover;
    height: 100vh;
}
.header-content {
	margin-top: 128px;
}
.header-content h3 {
	font-size: 45px;
	color: #3f475c;
    font-weight: 800;
}
.header-content h2 {
	font-size: 70px;
	color: #3f475c;
	font-weight: 800;
}
.header-content p {
	margin-top: 30px;
    color:#a7a7a8;
    font-weight:300 ;
}
.header-button input {
	background: none;
	border: 1px solid #77C475;
	border-radius: 8px;
	padding: 12px 25px;
	width: 33%;
	display: inline;
}
.form-control:focus {
	color: #495057;
	background-color: #fff;
	/* border-color: #80bdff; */
	outline: 0;
	box-shadow: 0 0 0 .2rem rgb(119, 196, 117);
}
.btn.btn-success.search{
	background: #77C475;
	border-radius: 5px;
	padding: 12px 25px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif !important;
    border: 0;
}
.hero-branding {
	margin-top: 35px;
}
.header-button {
	margin-top: 80px;
	margin-bottom: 80px;
}

/*
==========================================
    catagory area Css
==========================================
*/
.catagory-title {
	font-weight: 800;
	font-size: 33px;
	margin-top: 70px;
	margin-bottom: 40px;
}
.catagory-area{
    background:url(../img/catagory-bg.png);
    height: 100vh;
    background-size:cover;
    padding-bottom: 70px;
}
.icon {
	max-width: 13%;
	min-height: 40px;
}
.cb-title {
	color: #3f475c;
	font-size: 24px;
	font-weight: 800;
	margin-top: 20px;
}
.cb-text {
	color: #a7a7a8;
	margin-top: 10px;
	font-weight: 400;
	font-size: 14px;
}
.catagory-box {
	background: #FFFFFF;
	border-radius: 10px;
	padding: 30px;
	box-shadow: #8A8A8A 0px 2px 9px -5px;
	min-height: 230px !important;
}
.catagory-box:hover{
	background: #E2F2E1;
    transition: .3s;
    cursor: pointer;
}
.catagory-box:hover .cb-title{
	color: #77C475;
    transition: .3s;
    cursor: pointer;
}