/*
==========================================
    Google Fonts
==========================================
*/
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;700;800&family=Open+Sans:wght@300;400;600;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
/*
==========================================
    Reset Css
==========================================
*/
body{
    font-family: 'Baloo 2', cursive;
}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
p{
    font-family: 'Open Sans', sans-serif !important;
}

/*
==========================================
    Menu Css
==========================================
*/
.nav-item a {
	color: #3f475c;
	font-weight: 800;
	font-family: 'Comfortaa', cursive !important;
}
.navbar-brand img {
	max-width: 13%;
}
.navbar.navbar-expand-md {
	margin-top: 25px;
}
.nav-link.menu-btn {
	background: #77C475;
	color: #fff;
	font-weight: 600;
	border-radius: 4px;
	margin: 0px -40px;
}
/*
==========================================
    Hero area Css
==========================================
*/
.hero-area{
    background-image: url(../img/hero-bg.png);
    background-size: cover;
    height: 100vh;
}
.header-content {
	margin-top: 128px;
}
.header-content h3 {
	font-size: 45px;
	color: #3f475c;
    font-weight: 800;
}
.header-content h2 {
	font-size: 70px;
	color: #3f475c;
	font-weight: 800;
}
.header-content p {
	margin-top: 30px;
    color:#a7a7a8;
    font-weight:300 ;
}
.header-button input {
	background: none;
	border: 1px solid #77C475;
	border-radius: 8px;
	padding: 12px 25px;
	width: 33%;
	display: inline;
}
.form-control:focus {
	color: #495057;
	background-color: #fff;
	/* border-color: #80bdff; */
	outline: 0;
	box-shadow: 0 0 0 .2rem rgb(119, 196, 117);
}
.btn.btn-success.search{
	background: #77C475;
	border-radius: 5px;
	padding: 12px 25px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif !important;
    border: 0;
}
.hero-branding {
	margin-top: 35px;
}
.header-button {
	margin-top: 80px;
	margin-bottom: 80px;
}

/*
==========================================
    catagory area Css
==========================================
*/
.catagory-title {
	font-weight: 800;
	font-size: 33px;
	margin-top: 70px;
	margin-bottom: 40px;
}
.catagory-area{
    background:url(../img/catagory-bg.png);
    height: 100vh;
    background-size:cover;
    padding-bottom: 70px;
}
.icon {
	max-width: 13%;
	min-height: 40px;
}
.cb-title {
	color: #3f475c;
	font-size: 24px;
	font-weight: 800;
	margin-top: 20px;
}
.cb-text {
	color: #a7a7a8;
	margin-top: 10px;
	font-weight: 400;
	font-size: 14px;
}
.catagory-box {
	/* background: #FFFFFF; */
	border-radius: 10px;
	padding: 30px;
	box-shadow: #8A8A8A 0px 2px 9px -5px;
	min-height: 230px !important;
}
.catagory-box:hover{
	background: #E2F2E1;
    transition: .3s;
    cursor: pointer;
}
.catagory-box:hover .cb-title{
	color: #77C475;
    transition: .3s;
    cursor: pointer;
}

/*
==========================================
    sponser area Css
==========================================
*/

.sponser {
	background:url(../img/sponser.png);
    background-size:cover;
    padding:50px 0px;
}
.sponser h3{
    text-align: center;
    font-weight: 800;
    color: #343c52;
}
.slider-img img {
	max-width: 65%;
	max-height: 45px;
	margin-top: 50px;
}


/*
==========================================
    Work form home area Css
==========================================
*/

.work-form-home {
	background-image: url(../img/workformhome-bg.png);
	background-size: cover;
	/* height: 100vh; */
	padding-bottom: 150px;
}
.wfh-title {
	font-weight: 800;
	font-size: 33px;
	margin-top: 70px;
	margin-bottom: 40px;
}
.wfh-view{
    margin-top: 70px;
	margin-bottom: 40px;
}
.wfh-view a {
	text-decoration: none;
	color: #343c52;
	font-size: 21px;
	font-family: 'Open Sans', sans-serif !important;
	font-weight: 700;
}
.work-form-home-box {
	background: #FFFFFF;
	border-radius: 16px;
	padding: 30px;
	box-shadow: #8A8A8A 0px 2px 9px -5px;
	min-height: 230px !important;
	margin-top: 60px;
}
/* .work-form-home-box:hover{
	background: #E2F2E1;
    transition: .3s;
    cursor: pointer;
}
.work-form-home-box:hover .wfhb-title{
	color: #77C475;
    transition: .3s;
    cursor: pointer;
} */
.wfhb-title {
	font-weight: bold;
	margin-bottom: 14px;
    color: #3f475c;
}
.wfhb-text {
	font-size: 14px;
    color: #a7a7a8;

}

/*
==========================================
    how it work area Css
==========================================
*/
.how-it-work-area{
	background-size: cover;
	background-image:url(../img/how-it-work-bg.png) ;
	/* height: 100vh; */
	padding-bottom: 50px;
}
.hiw-title {
	text-align: center;
	font-weight: 800;
	font-size: 33px;
	color: #343c52;
	margin-top: 50px;
	margin-bottom: 10px;
}
.hiw-text {
	text-align: center;
	color: #a7a7a8;
}
.hiw-branding {
	margin-top: 50px;
	margin-bottom: 50px;
}

.hiw-content {
	display: flex;
}
.mt-130{
	margin-top: 130px;
}
.hiw-content span img {
	max-height: 50px;
}
.hiw-content span {
	background: #fff;
	padding: 29px 26px;
	border-radius: 50%;
	/* text-align: center; */
	/* justify-content: center; */
	/* display: flex; */
	/* box-shadow: #000 -1px 1px 5px; */
	border: 1px solid #ededed;
	margin: 10px 0px;
}
.hiwc-title {
	color: #3f475c;
	font-weight: 800;
	font-size: 22px;
}
.hiwc-text {
	color: #a7a7a8;
}


/*
==========================================
    app ui area Css
==========================================
*/
.app-ui-area {
	background: url(../img/catagory-bg.png);
	/* height: 100vh; */
	background-size: cover;
	padding-bottom: 70px;
}

.app-ui-content {
	margin-top: 210px;
}
.app-ui-content h5 {
	color: #81c87f;
	font-weight: 400;
}
.app-ui-content h4 {
	font-weight: 800;
	margin: 5px 0px;
	color: #3f475c;
}
.app-ui-content p {
	color: #a7a7a8;
	text-align: left;
}
  
.app-ui-download {
	display: flex;
	margin-top: 30px;
}
.app-ui-download img {
	width: 100px;
	cursor: pointer;
}

/*
==========================================
    Top company area Css
==========================================
*/
.top-company {
	background-size: cover;
	background-image: url(../img/top-company-bg.png);
	padding-bottom: 50px;
	/* background-position: center; */
}
.top-company h3 {
	text-align: center;
	margin-top: 30px;
	font-weight: 800;
	font-size: 32px;
}
/*
==========================================
    Footer area Css
==========================================
*/
.footer {
	background-size: cover;
	background-image: url(../img/footer-bg.png);
	padding-bottom: 50px;
	/* background-position: center; */
	padding-top: 50px;
}
.footer ul li {
	margin: 10px 0px;
}
.footer ul li a {
	text-decoration: none;
	color: #606060;
	font-weight: 500;
}
.footer ul li a b{
	margin-bottom: 10px;
	font-weight: 800;
	font-size: 20px;
}
.footer ul li a:hover{
	color: #81c87f;
	transition: .3s;
}
.footer ul li a img {
	width: 100px;
	margin-bottom: 10px;
}
.footer-flow ul li a i {
	display: flex;
	float: left;
	margin: 0px 20px;
	font-size: 20px;
	margin-top: 50px;
}
.copy-right {
	font-size: 18px;
	margin-top: 57px;
	color: #e3e5e5;
}